@page "/goals/create/"

@inject NavigationManager _navManager
@inject IGoalRepository _goalRepo
@inject IUserDetailRepository _userDetailRepo
@inject HttpClient _client
@inject ApiAuthenticationStateProvider _authentication
@inject IToastService _toastService

<h3 class="card-title">Your goals</h3>

<br />


<p>
    Please provide some information about yourself so we can create suitable goals for you
</p>


<EditForm Model="userDetailModel" OnValidSubmit="CreateUserDetail">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="DateOfBirth">Date of Birth</label>
        <InputDate @bind-Value="userDetailModel.DateOfBirth" class="form-control" id="DateOfBirth" />
    </div>
    <div class="form-group">
        <label for="HighestEducation">Highest Level of Education</label>
        @*<InputText @bind-Value="userDetailModel.HighestEducation" class="form-control" id="HighestEducation" />*@
        <select @bind="userDetailModel.HighestEducation" class="form-control" id="HighestEducation">
            @*<option value="">-- Select Education Level --</option>*@
            <option value="GCSE">GCSE</option>
            <option value="A-Level">A-Level</option>
            <option value="BSc">BSc</option>
            <option value="Post University">Post University</option>

        </select>
    </div>
    <div class="form-group">
        <label for="RetirementAge">Target Retirement Age</label>
        <InputNumber @bind-Value="userDetailModel.RetirementAge" class="form-control" id="RetirementAge" />
    </div>
    <button class="btn btn-primary" type="submit">
        <span class="oi oi-pencil"></span>
        Update Details
    </button>
</EditForm>





@code
{
    private IList<Goal> goalModel;
    private UserDetail userDetailModel = new UserDetail();

    private IList<Author> Authors;

    private bool isExistsUserDetails;
    private bool isExistsGoals;

    private string userId;



    protected async override Task OnInitializedAsync()
    {

        var auth = await _authentication.GetAuthenticationStateAsync();
        userId = auth.User.FindFirst(AppConstants.UserId).Value;
        Console.WriteLine(userId);

        //Check user details
        isExistsUserDetails = await _userDetailRepo.CheckUserHasRecords(Endpoints.UserDetailsEndpoint, userId);

        //Check goals
        isExistsGoals = await _goalRepo.CheckUserHasRecords(Endpoints.GoalsEndpoint, userId);
    }


    private async void CreateUserDetail()
    {
        bool isSuccess;

        var auth = await _authentication.GetAuthenticationStateAsync();
        userDetailModel.Id = auth.User.FindFirst(AppConstants.UserId).Value;

        if (!isExistsUserDetails)
        {
            isSuccess = await _userDetailRepo.Create(Endpoints.UserDetailsEndpoint, userDetailModel);
        }
        else
        {
            isSuccess = await _userDetailRepo.Update(Endpoints.UserDetailsEndpoint, userDetailModel, userId);
        }

        if (isSuccess)
        {
            _toastService.ShowSuccess("Details submitted successfully", "");
        }
        else
        {
            _toastService.ShowError("Something went wrong");
        }
    }

}
