@page "/"


<h1 class="card-title">Financial Goals Helper</h1>
<p class="card-body">
    This application is designed to help you create and track your progress towards your financial goals.
    <br />
    <br />
    

    <a href="https://github.com/stevewb1993/FinancialAdvisorApp" target="_blank">Source Code</a>
</p>

@code{

}





