@page "/financetracking/"

@inject NavigationManager _navManager
@inject IFinancialStatRepository _financialStatRepo
@inject HttpClient _client
@inject ApiAuthenticationStateProvider _authentication

<h3 class="card-title">Your Financial Stats</h3>
<hr />
<br />

@if (!loadComplete)
{
    <LoadingMessage Message="Loading your details..." />
}
else
{

    @if (isExistsFinancialStats)
    {
        <p>
            Placeholder for finance tracking dashboard
        </p>

    }
    else
    {
        <p>
            You haven't started tracking any of your finances yet! Please use the button below to create an entry.
        </p>
    }

    <RadzenDatePicker @bind-Value=@financeDate DateFormat="yyyy-MM-dd" />
    <button @onclick="@(e => OnSubmit())" class="btn btn-outline-secondary">
        <span class="oi oi-fork"></span>
        Create finance entry
    </button>
}


@code {

    private bool isExistsFinancialStats;
    DateTime financeDate = DateTime.Now;

    private bool loadComplete = false;

    protected async override Task OnInitializedAsync()
    {

        var auth = await _authentication.GetAuthenticationStateAsync();
        string userId = auth.User.FindFirst(AppConstants.UserId).Value;
        financeDate = DateTime.Now;
        Console.WriteLine($"user id: {userId}");

        //Check user details
        isExistsFinancialStats = await _financialStatRepo.CheckUserHasRecords(Endpoints.FinancialStatsEndpoint, userId);
        Console.WriteLine(isExistsFinancialStats);
        loadComplete = true;
    }


    void OnSubmit()
    {
        Console.WriteLine(financeDate);
        Console.WriteLine(financeDate.ToShortDateString());
        _navManager.NavigateTo($"{AppConstants.LinkFinanceTracking}create/{financeDate.ToString("yyyyMMdd")}");
    }
}
